body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:162px;
  top:164px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:54px;
  top:154px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:32px;
  top:213px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:311px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:32px;
  top:311px;
  width:320px;
  height:199px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:32px;
  top:262px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:54px;
  top:230px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:54px;
  top:279px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:50px;
  top:402px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:40px;
  top:600px;
  width:303px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:299px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:120px;
  top:222px;
  width:140px;
  height:32px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:120px;
  top:271px;
  width:210px;
  height:32px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:120px;
  top:402px;
  width:210px;
  height:92px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:92px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:700px;
  top:10px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:700px;
  top:39px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:700px;
  top:170px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:700px;
  top:199px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:700px;
  top:330px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:700px;
  top:359px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:700px;
  top:480px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:700px;
  top:509px;
  width:330px;
  height:101px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:430px;
  top:544px;
  width:200px;
  height:116px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:441px;
  top:614px;
  width:178px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u46 {
  position:absolute;
  left:464px;
  top:624px;
  width:135px;
  height:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:131px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:317px;
  top:634px;
  width:200px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u49 {
  position:absolute;
  left:270px;
  top:222px;
  width:60px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:410px;
  top:242px;
  width:200px;
  height:48px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:230px;
  top:282px;
  width:300px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u54 {
  position:absolute;
  left:430px;
  top:394px;
  width:200px;
  height:116px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:441px;
  top:464px;
  width:178px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u57 {
  position:absolute;
  left:464px;
  top:474px;
  width:135px;
  height:26px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:131px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:54px;
  top:322px;
  width:100px;
  height:16px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:54px;
  top:356px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:122px;
  top:355px;
  width:208px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:120px;
  top:319px;
  width:210px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
