body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:208px;
  width:320px;
  height:925px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:925px;
}
#u3 {
  position:absolute;
  left:2px;
  top:454px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:135px;
  top:166px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:56px;
  top:157px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:34px;
  top:208px;
  width:316px;
  height:170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:33px;
  top:378px;
  width:318px;
  height:58px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:129px;
  top:380px;
  width:108px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:142px;
  top:412px;
  width:83px;
  height:16px;
  font-size:14px;
  color:#3399CC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:33px;
  top:641px;
  width:318px;
  height:492px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:492px;
}
#u19 {
  position:absolute;
  left:2px;
  top:238px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:685px;
  width:318px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u21 {
  position:absolute;
  left:33px;
  top:735px;
  width:318px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u22 {
  position:absolute;
  left:57px;
  top:659px;
  width:79px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:183px;
  top:475px;
  width:127px;
  height:135px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:135px;
}
#u25 {
  position:absolute;
  left:2px;
  top:60px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:46px;
  top:475px;
  width:127px;
  height:135px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:135px;
}
#u27 {
  position:absolute;
  left:2px;
  top:60px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:56px;
  top:446px;
  width:108px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:56px;
  top:482px;
  width:107px;
  height:66px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:66px;
}
#u31 {
  position:absolute;
  left:2px;
  top:25px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:192px;
  top:482px;
  width:104px;
  height:66px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:66px;
}
#u33 {
  position:absolute;
  left:2px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:194px;
  top:550px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:247px;
  top:549px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#3366CC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:194px;
  top:566px;
  width:84px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:55px;
  top:550px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:108px;
  top:549px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#3366CC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:55px;
  top:566px;
  width:84px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:33px;
  top:635px;
  width:319px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u47 {
  position:absolute;
  left:57px;
  top:763px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:57px;
  top:875px;
  width:66px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:223px;
  top:659px;
  width:105px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:299px;
  top:763px;
  width:29px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:257px;
  top:875px;
  width:40px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:33px;
  top:974px;
  width:317px;
  height:154px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:154px;
}
#u58 {
  position:absolute;
  left:2px;
  top:69px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:177px;
  top:709px;
  width:160px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:293px;
  top:1096px;
  width:42px;
  height:23px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:309px;
  top:873px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:57px;
  top:818px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:218px;
  top:818px;
  width:113px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:33px;
  top:789px;
  width:318px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u70 {
  position:absolute;
  left:57px;
  top:937px;
  width:53px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:33px;
  top:847px;
  width:318px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u73 {
  position:absolute;
  left:33px;
  top:908px;
  width:318px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u74 {
  position:absolute;
  left:55px;
  top:709px;
  width:53px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:187px;
  top:937px;
  width:150px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:440px;
  top:789px;
  width:200px;
  height:116px;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:450px;
  top:861px;
  width:178px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u81 {
  position:absolute;
  left:474px;
  top:871px;
  width:58px;
  height:26px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:534px;
  top:871px;
  width:10px;
  height:26px;
}
#u83_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u83_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u83_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u84 {
  position:absolute;
  left:544px;
  top:871px;
  width:58px;
  height:26px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u85 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:324px;
  top:875px;
  width:140px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
