body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:118px;
  top:388px;
  width:144px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:46px;
  top:154px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:152px;
  top:161px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:32px;
  top:199px;
  width:320px;
  height:183px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:183px;
}
#u11 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:127px;
  top:419px;
  width:125px;
  height:16px;
  font-size:14px;
  color:#3399CC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:58px;
  top:476px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:200px;
  top:476px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:32px;
  top:501px;
  width:320px;
  height:629px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:629px;
}
#u19 {
  position:absolute;
  left:2px;
  top:306px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:137px;
  top:507px;
  width:108px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:49px;
  top:537px;
  width:107px;
  height:66px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:66px;
}
#u23 {
  position:absolute;
  left:2px;
  top:25px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:166px;
  top:537px;
  width:104px;
  height:66px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:66px;
}
#u25 {
  position:absolute;
  left:2px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:289px;
  top:537px;
  width:62px;
  height:66px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u27 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:168px;
  top:605px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:221px;
  top:604px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#3366CC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:168px;
  top:621px;
  width:84px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:48px;
  top:605px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:101px;
  top:604px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#3366CC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:48px;
  top:621px;
  width:84px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:296px;
  top:604px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:296px;
  top:620px;
  width:46px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:223px;
  top:654px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:319px;
  top:162px;
  width:17px;
  height:23px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:32px;
  top:645px;
  width:320px;
  height:120px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u49 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:162px;
  top:657px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:56px;
  top:688px;
  width:282px;
  height:67px;
  font-size:12px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:67px;
}
#u53 {
  position:absolute;
  left:0px;
  top:4px;
  width:282px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:32px;
  top:765px;
  width:320px;
  height:199px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
}
#u55 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:32px;
  top:811px;
  width:320px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u57 {
  position:absolute;
  left:162px;
  top:780px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:32px;
  top:849px;
  width:320px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u60 {
  position:absolute;
  left:50px;
  top:829px;
  width:53px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:32px;
  top:885px;
  width:320px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u63 {
  position:absolute;
  left:32px;
  top:922px;
  width:320px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u64 {
  position:absolute;
  left:51px;
  top:902px;
  width:40px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:51px;
  top:937px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:51px;
  top:866px;
  width:53px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:203px;
  top:829px;
  width:145px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:204px;
  top:902px;
  width:144px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:228px;
  top:937px;
  width:120px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:321px;
  top:866px;
  width:27px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:32px;
  top:1091px;
  width:68px;
  height:39px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:39px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:54px;
  top:1103px;
  width:27px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:100px;
  top:1091px;
  width:68px;
  height:39px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:39px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:121px;
  top:1103px;
  width:27px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:168px;
  top:1091px;
  width:183px;
  height:39px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:224px;
  top:1099px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:34px;
  top:964px;
  width:317px;
  height:127px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:127px;
}
#u91 {
  position:absolute;
  left:2px;
  top:56px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:298px;
  top:344px;
  width:40px;
  height:25px;
  font-size:11px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:58px;
  top:1049px;
  width:274px;
  height:32px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:32px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:84px;
  top:1058px;
  width:171px;
  height:15px;
  font-size:12px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:280px;
  top:1060px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#CC0066;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:440px;
  top:794px;
  width:200px;
  height:116px;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:451px;
  top:867px;
  width:178px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u103 {
  position:absolute;
  left:474px;
  top:877px;
  width:135px;
  height:26px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:5px;
  width:131px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:442px;
  top:944px;
  width:200px;
  height:116px;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:452px;
  top:1016px;
  width:178px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u108 {
  position:absolute;
  left:476px;
  top:1026px;
  width:58px;
  height:26px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u109 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:536px;
  top:1026px;
  width:10px;
  height:26px;
}
#u110_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u110_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u110_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u111 {
  position:absolute;
  left:546px;
  top:1026px;
  width:58px;
  height:26px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u112 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:900px;
  top:48px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:900px;
  top:77px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:900px;
  top:208px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:900px;
  top:237px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:900px;
  top:368px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:900px;
  top:397px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:900px;
  top:518px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:900px;
  top:547px;
  width:330px;
  height:101px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:101px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:137px;
  top:445px;
  width:105px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:48px;
  top:857px;
  width:412px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:395px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:412px;
  height:1px;
}
#u132 {
  position:absolute;
  left:43px;
  top:862px;
  width:10px;
  height:241px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:224px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:241px;
}
#u133 {
  position:absolute;
  left:145px;
  top:979px;
  width:10px;
  height:131px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:114px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:131px;
}
#u134 {
  position:absolute;
  left:150px;
  top:974px;
  width:310px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u135 {
  position:absolute;
  left:334px;
  top:563px;
  width:200px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u136 {
  position:absolute;
  left:402px;
  top:547px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:441px;
  top:1099px;
  width:200px;
  height:116px;
  text-align:left;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:452px;
  top:1171px;
  width:178px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u141 {
  position:absolute;
  left:475px;
  top:1181px;
  width:58px;
  height:26px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u142 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:536px;
  top:1181px;
  width:10px;
  height:26px;
}
#u143_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u143_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u143_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u144 {
  position:absolute;
  left:546px;
  top:1181px;
  width:58px;
  height:26px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u145 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:289px;
  top:1106px;
  width:257px;
  height:10px;
}
#u146_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u147 {
  position:absolute;
  left:370px;
  top:1116px;
  width:61px;
  height:32px;
  color:#FF0000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
