body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:199px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:210px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:40px;
  top:240px;
  width:249px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:32px;
  top:268px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:309px;
  width:249px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:32px;
  top:337px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:378px;
  width:249px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:45px;
  top:146px;
  width:29px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:40px;
  top:283px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:40px;
  top:351px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:162px;
  top:156px;
  width:167px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:300px;
  top:159px;
  width:21px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:90px;
  top:156px;
  width:72px;
  height:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:420px;
  top:20px;
  width:261px;
  height:161px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:161px;
}
#u30 {
  position:absolute;
  left:2px;
  top:72px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:426px;
  top:24px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:648px;
  top:24px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:420px;
  top:116px;
  width:261px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:244px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u36 {
  position:absolute;
  left:420px;
  top:92px;
  width:261px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:244px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u37 {
  position:absolute;
  left:540px;
  top:102px;
  width:27px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:526px;
  top:24px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:420px;
  top:42px;
  width:261px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:244px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u42 {
  position:absolute;
  left:482px;
  top:147px;
  width:143px;
  height:16px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:526px;
  top:61px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
